﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="IsPostBackEx.aspx.cs" Inherits="EventsExamples.IsPostBackEx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
        </div>
    </form>
</body>
</html>
