﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CommandEventButtonEx.aspx.cs" Inherits="TextBoxExample.CommandEventButtonEx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" 
                runat="server" 
                
                Text="Button" />
        </div>
    </form>
</body>
</html>
