﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DropDownEx.aspx.cs" Inherits="TextBoxExample.DropDownEx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:DropDownList ID="DropDownList1" runat="server">
             
            </asp:DropDownList>
        </div>
    </form>
</body>
</html>
